In [1]:
# script for financial records of a company :

In [2]:
from pathlib import Path
path = "C:/Users/mehas/Downloads/budget_data.csv"

In [45]:
import pandas as pd
df = pd.read_csv(path)
# df
df[['Date','Profit/Losses']]

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [46]:
#Task 1 : Total Months :
total_months = len(df['Date'])
print(f'Total monts :{total_months}')

Total monts :86

In [47]:
#Task 2 : Net total amount of pnl :
total_pnl = 0
for i in df['Profit/Losses']:
    total_pnl += i
print(total_pnl)

38382578

In [48]:
#Task 3 : Average Change :
import pandas as pd
df['shifted'] = df['Profit/Losses'].shift(1)
df.loc[0,'shifted'] = 0
df['change'] = df['Profit/Losses'] - df['shifted']
x = df['change'].loc[1:]
average_change = x.mean()
average_change

-2315.1176470588234

In [56]:
df

        Date   shifted    change
0   Jan-2010       0.0  867884.0
1   Feb-2010  867884.0  116771.0
2   Mar-2010  984655.0 -662642.0
3   Apr-2010  322013.0 -391430.0
4   May-2010  -69417.0  379920.0
..       ...       ...       ...
81  Oct-2016  768450.0 -665765.0
82  Nov-2016  102685.0  693229.0
83  Dec-2016  795914.0 -734926.0
84  Jan-2017   60988.0   77242.0
85  Feb-2017  138230.0  532869.0

[86 rows x 3 columns]

In [57]:
df.max()

Date        Sep-2016
shifted    1170593.0
change     1926159.0
dtype: object

In [91]:
# #Task 4 :Greatest inc in profits :
# import pandas as pd
# greatest_inc = df.max()[
# greatest_inc
# df1 = df.dropna[['Profit/Losses','shifted']]
# x = df.max()
# for i in df.iteritems():
#     if df.loc[i,'change'] == x :
#         print (i)

# del df['shifted']
df
# for i in df.iteritems():
#     x = df.max()
#     if df.loc[i,'change'] == x:
#         print (df.loc[i])
g = df.max(axis = 0, axis = 'change')

SyntaxError: keyword argument repeated: axis (Temp/ipykernel_61228/2929754151.py, line 17)

In [60]:
#Greatest dec in profits :
greatest_dec= df.min(axis=0)
greatest_dec

Date       Apr-2010
change   -2196167.0
dtype: object

In [102]:
def f_analysis(path=''):
    import pandas as pd
    df = pd.read_csv(path)
    total_months = len(df['Date'])
    print(f'Total months :{total_months}')
    total_pnl = 0
    for i in df['Profit/Losses']:
        total_pnl += i
    print(f'Total profit : {total_pnl}')
    df['shifted'] = df['Profit/Losses'].shift(1)
    df.loc[0,'shifted'] = 0
    df['change'] = df['Profit/Losses'] - df['shifted']
    x = df['change'].loc[1:]
    average_change = x.mean()
    print(f'Average change :{average_change}')
    import pandas as pd
    del df['Profit/Losses']
    del df['shifted']
    greatest_inc = df.max(axis=0)
    print(f'Greatest increase :{greatest_inc}')
    greatest_dec= df.min(axis=0)
    print(f'Greatest decrease :{greatest_dec}')

In [103]:
f_analysis("C:/Users/mehas/Downloads/budget_data.csv")

Total months :86
Total profit : 38382578
Average change :-2315.1176470588234
Greatest increase :Date       Sep-2016
change    1926159.0
dtype: object
Greatest decrease :Date       Apr-2010
change   -2196167.0
dtype: object